/* Teal Color */

:root{
	--dark-teal: #294278;
}	

.bg-teal{
    background-color: var(--dark-teal);
}


.text-teal{
    color: var(--dark-teal);
}

.btn-teal{
    background-color: var(--dark-teal);
    color: white;
}

.btn-teal:hover{
    background-color: var(--dark-teal);
    color:white;
}

.btn-teal:active{
    background-color: var(--dark-teal);
}

.hide-picture{
        overflow: hidden;  
        max-width: 100vw; /* Ensure container doesn't exceed viewport width */
  
}

.hide-picture img{
    max-height: 450px;
}


.bg-index{
    background-color: #e3ecff;
    background-image: linear-gradient(135deg, #e3ecff 0%, #9091d6 100%);  

}

.pwd-reg-page {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.reg-form {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
}

.fa {
    font-size: 24px;
    color: white;
    margin-right: 1rem;
  }


/* @media (min-width: 576px){
    #application>div>div{
        max-width: calc(960px-90px);
    }
} */

/* @media (max-width: 576px){
    #application>div>div{
        padding-left: calc(1.5*.5);
        padding-right: calc(1.5*.5);
    }
} */